 img {
    height: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }
 p {
    margin: 0;
    color: #666666;
    font-size: 50px;
  }

  #skills {
    margin-top: 200px;
    margin-bottom: 120px;
    text-align: center;

}

.skillClassMob {padding-bottom: 80%!important;}
