<div class="section" id="skills">
    <div class="container">
      <div class="h4 text-center mb-4 title">Skills</div>
      <div class="skill" style="padding-top: 10%;">
        <div>
          <img alt="Angular" src="../../../assets/svg/angular.svg">
          <p>Angular</p>
        </div>
        <div>
          <img alt="Typescript" src="../../../assets/svg/typescript.svg">
          <p>Typescript</p>
        </div>
        <div>
          <img alt="NodeJS" src="../../../assets/svg/nodejs-1.svg">
          <p>NodeJS</p>
        </div>
        <div>
          <img alt="ExpressJS" src="../../../assets/svg/express-js.svg">
          <p>ExpressJS</p>
        </div>
        <div>
          <img alt="JavaScript" src="../../../assets/svg/js.svg">
          <p>JavaScript</p>
        </div>
        <div>
          <img alt="MongoDB" src="../../../assets/svg/mongodb.svg">
          <p>MongoDB</p>
        </div>
        <div>
          <img alt="Sql Server" src="../../../assets/svg/microsoft-sql-server.svg">
          <p>Sql Server</p>
        </div>
        <div>
          <img alt="HTML5" src="../../../assets/svg/bootstrap.svg">
          <p>HTML5</p>
        </div>
        <div>
          <img alt="CSS3" src="../../../assets/svg/css3.svg">
          <p>CSS3</p>
        </div>
        <div>
          <img alt="CSS3" src="../../../assets/svg/sass.svg">
          <p>SCSS</p>
        </div>
        <div>
          <img alt="BootStrap" src="../../../assets/svg/bootstrap.svg">
          <p>BootStrap</p>
        </div>
      </div>
      
    </div>
    <div style="padding-bottom: 20%;" [ngClass] = "{'skillClassMob':isMobile}"> <svg class="arrows"><a href="#contact"> 
      <path class="a1" d="M0 0 L30 32 L60 0"></path>
      <path class="a2" d="M0 20 L30 52 L60 20"></path>
      <path class="a3" d="M0 40 L30 72 L60 40"></path>
  </a>
  </svg></div>
  </div>
