.beside{
    color:white
}
.introClass{
    float: left;
                border-right: solid 3px lightyellow;
                margin-left: 5%;
                margin-top: 15%;
                padding-bottom: 5%;
                padding-right: 7%;
                margin-right: 4%;
}
.introClassMob{
    float: left;
                margin-left: 5%;
                margin-top: 15%;
                padding-bottom: 5%;
                padding-right: 7%;
                margin-right: 4%;
}

.typeClass{
margin-top: 5%;
                    margin-left: -2%;
}
.typeClassMob{
    margin-bottom: 10%;
margin-top: 5%;
                    margin-left: -2%;
}
.resClassMob{
margin-top: 10%;
    margin-bottom: 10%;
}
.resClass{
    margin-bottom: 11%;
                    font-size: 1.2rem;
}